@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-lexend: 'Lexend', sans-serif;
}

body {
  line-height: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
